
body {
  background:url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-size: -webkit-xxx-large;
    }

body {
  overflow-y:hidden;
  overflow-x:hidden;
}

i.cv {
   content:url(../images/cv.png);
   height: 1.33em;
}​

.centerme{
  text-align: center;
}

.colored{
  color:#5e5e5e;
}

.rectangle {
  height: .3em;
  width: 40em ;
  background-color: #5e5e5e;
  margin-bottom:1em;
  margin-left: auto;
  margin-right: auto;
}

.contienetutto {
  height: 100vh;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  font-weight: bolder;

}


